<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cafe.jjdev.mall.mapper.BoardFileMapper">
	<resultMap type="cafe.jjdev.mall.vo.BoardFile" id="selectBoardFileResultMap">
		<result column="board_file_no" property="boardFileNo"/>
		<result column="board_no" property="boardNo"/>
		<result column="board_file_origin_name" property="boardFileOriginName"/>
		<result column="board_file_save_name" property="boardFileSaveName"/>
		<result column="board_file_ext" property="boardFileExt"/>
		<result column="board_file_size" property="boardFileSize"/>
		<result column="board_file_type" property="boardFileType"/>
		<result column="board_file_delete" property="boardFileDelete"/>
	</resultMap>
	<select id="selectBoardFile" parameterType="int" resultMap="selectBoardFileResultMap">
		SELECT 
            board_file_no,
            board_no,
            board_file_origin_name,
            board_file_save_name,
            board_file_ext,
            board_file_size,
            board_file_type,
            board_file_delete
        FROM 
        	board_file
        WHERE 
        	board_no = #{boardNo}
	</select>
	<resultMap type="cafe.jjdev.mall.vo.BoardFile" id="selectBoardFileOneResultMap">
		<result column="board_file_no" property="boardFileNo"/>
		<result column="board_no" property="boardNo"/>
		<result column="board_file_origin_name" property="boardFileOriginName"/>
		<result column="board_file_save_name" property="boardFileSaveName"/>
		<result column="board_file_ext" property="boardFileExt"/>
		<result column="board_file_size" property="boardFileSize"/>
		<result column="board_file_type" property="boardFileType"/>
	</resultMap>
	<select id="selectBoardFileOne" parameterType="int" resultMap="selectBoardFileOneResultMap">
		SELECT 
            board_file_no,
            board_no,
            board_file_origin_name,
            board_file_save_name,
            board_file_ext,
            board_file_size,
            board_file_type
        FROM 
        	board_file
        WHERE 
        	board_file_no = #{boardFileNo}	
	</select>
	<delete id="deleteBoardFileByFileNo" parameterType="int">
		DELETE FROM 
			board_file
		WHERE 
			board_file_no = #{boardFileNo}
	</delete>
	<delete id="deleteBoardFileByBoardNo" parameterType="int">
		DELETE FROM 
			board_file
		WHERE 
			board_no = #{boradNo}
	</delete>
	<insert id="insertBoardFile" parameterType="cafe.jjdev.mall.vo.BoardFile">
		INSERT INTO 
			board_file(
				board_no,
				board_file_origin_name,
				board_file_save_name,
				board_file_ext,
				board_file_size,
				board_file_type
			) 
		VALUES
		(
			#{boardNo},
			#{boardFileOriginName},
			#{boardFileSaveName},
			#{boardFileExt},
			#{boardFileSize},
			#{boardFileType}
		)
	</insert>
	<update id="updateBoardFile"
			parameterType="int">
		UPDATE 
			board_file
		SET
			board_file_delete = 0
		WHERE 
			board_no = #{boardNo}
	</update>
		<update id="updateBoardFileForDelete"
			parameterType="int">
		UPDATE 
			board_file
		SET
			board_file_delete = 1
		WHERE 
			board_file_no = #{boardFileNo}
	</update>
	
	<resultMap type="cafe.jjdev.mall.vo.BoardFile" id="selectBoardFileForDeleteResultMap">
		<result column="board_file_no" property="boardFileNo"/>
		<result column="board_no" property="boardNo"/>
		<result column="board_file_origin_name" property="boardFileOriginName"/>
		<result column="board_file_save_name" property="boardFileSaveName"/>
		<result column="board_file_ext" property="boardFileExt"/>
		<result column="board_file_size" property="boardFileSize"/>
		<result column="board_file_type" property="boardFileType"/>
		<result column="board_file_delete" property="boardFileDelete"/>
	</resultMap>
	<select id="selectBoardFileForDelete" parameterType="int" resultMap="selectBoardFileForDeleteResultMap">
		SELECT 
            board_file_no,
            board_no,
            board_file_origin_name,
            board_file_save_name,
            board_file_ext,
            board_file_size,
            board_file_type,
            board_file_delete
        FROM 
        	board_file
        WHERE 
        	board_no = #{boardNo}
        AND
        	board_file_delete = 1
	</select>
</mapper>